{% extends "_base.html" %}
{% block title %}Bevestigen{% endblock %}

{% block header %}
<style type="text/css">
    {% include "sso.css" without context %}
</style>
{% endblock %}

{% block body %}
<header>
    <h1>Bevestigen om door te gaan</h1>
    <p>
        A client is trying to {{ description }}. To confirm this action
        re-authorize your account with single sign-on.
    </p>
</header>
<main>
    <a href="{{ redirect_url }}" class="primary-button">
        Doorgaan met {{ idp.idp_name }}
    </a>
</main>
{% include "sso_footer.html" without context %}
{% endblock %}
