{% extends "_base.html" %}
{% block title %}Authenticatie succesvol{% endblock %}

{% block header %}
<style type="text/css">
    {% include "sso.css" without context %}
</style>
<script>
    if (window.onAuthDone) {
        window.onAuthDone();
    } else if (window.opener && window.opener.postMessage) {
        window.opener.postMessage("authDone", "*");
    }
</script>
{% endblock %}

{% block body %}
<header>
    <h1>Bedankt!</h1>
    <p>
        We weten nu zeker dat jij het bent. Je kunt dit venster sluiten.
    </p>
</header>
{% include "sso_footer.html" without context %}
{% endblock %}
