{% extends "_base.html" %}
{% block title %}SSO account gedeactiveerd{% endblock %}

{% block header %}
<style type="text/css">
    {% include "sso.css" without context %}
</style>
{% endblock %}

{% block body %}
<div class="error_page">
    <header>
        <h1>Uw account is gedeactiveerd</h1>
        <p>
            <strong>Geen account gevonden</strong>
        </p>
        <p>
            Neem contact op met beheer.
        </p>
    </header>
</div>
{% include "sso_footer.html" without context %}
{% endblock %}
